.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}

.footer {
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.btn {
  /* background-color: green;*/
}

.card-hotel {
  flex: 1 200px;
  /*cuanto queremos que crezca el elemento y cuanto sera el ancho. el 2 es basis... */
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: red;
}

/*# sourceMappingURL=css/styles.css.map */
